.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.latestMoviesCard{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    margin: 1em;
    align-items: center;
    color: rgb(230, 219, 219);
    width: 6em;
    height: 8em;
    border: 0.1px solid blueviolet;
    border-radius: 1.5em;

}