
// Contenido total de la pagina

.Contenedor{
  width: 100vw;
  height: 60em;
  display: flex;
  flex-direction: column;
  



}

.h2{
    margin: 2em;
    font-size: 2em;
}
.phome{
    margin: 0.3em;
    font-size: 1.5em;

}
.presentacion{
    display: flex;
    flex-direction: column;
    margin: 2em;
}
.casi{
    margin: 2em;
    margin-left: 18em;
    width: 20em;
    height: 5em;
    background-color: rgb(106, 11, 196);
    border-radius: 1.5em;
    color: whitesmoke;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


// Estilo de cada genero

.genero{

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 28em;

}

// barra separadora

.Separacion{

  
    width: 60vw;
    height: 0.05em;
    background-color: grey;
}

// Display con scroll donde se presentan las peliculas en row

.cardMovies{
    
    width: 90vw;
    height: 26em;
   // border: 0.1em solid orange ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    //justify-content: space-evenly;
    overflow-x: scroll;
}
.MovieCard{

   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   justify-content: space-evenly;
   width: 12em;
   height: 12em;
   color:black;
    
}


//Footer

.footer{

    width: 100vw;
    height: 6em;
    background-color: grey;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;


}
.autor{
    width: 10em;
    height: 4em;
    border: 0.1em whitesmoke solid;
    border-radius: 1em;
}

