.vistaHeader{
    width:100vw;
    height: 5em;
    background-color: rgb(44, 42, 42);
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    margin-left: 2em;
    width: 12em;
    height: 4em;
    border-radius: 2em;
}
.nav{
   
    margin-left: 32em;
    margin-top: 1.5em;
    width: 38em;
    height: 2.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  //  justify-content: center;
    align-items: center;
    color:white
}  

.inicio{
    margin: 1em;
}
.search{
    margin: 1em;
    all:unset;
    border: 0.2em solid rgb(44, 191, 228);
    height: 2em;
    border-radius: 2em;
    background-color: white;
}
.directorio{
    margin: 1em;
}
    
.login {
    margin: 1em;
    border-radius: 2em;
    border: 0.2px black solid;
    width: 6em;
    height: 2em;
    background-color: rgb(44, 191, 228);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register{
    border-radius: 2em;
    border: 0.2px black solid;
    width: 6em;
    height: 2em;
    background-color: rgb(44, 191, 228);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}